<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/adressenverwaltung-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/neuer-kunde-style.css}">
    <script th:src="@{/scripts/main.js}" type="text/javascript"></script>
    <script th:src="@{/scripts/table.js}" type="text/javascript"></script>
</head>
<body>
<div class="title-bar">
    <h1 class="heading">Adressenverwaltung</h1>
</div>

<div class="vertical-bar">
    <p></p>
</div>

<div class="tab-buttons">
    <input class="tab-button" onclick="set_tab(1)" style="font-weight: bold; font-size: 1.5em;" type="button" value="Mitarbeiter"/>
    <input class="tab-button" onclick="set_tab(2)" style="font-weight: bold; font-size: 1.5em;" type="button" value="Ärzte"/>
    <input type="hidden" id="cache"/>
</div>

<div class="tab-body">
    <div class="tab" id="tab-1">
        <div th:replace="fragments/Adressenverwaltung/mitarbeiter.html"></div>
    </div>

    <div class="tab" id="tab-2">
        <div th:replace="fragments/Adressenverwaltung/aerzte.html"></div>
    </div>

    <div class="tab" id="tab-3">
        <div th:replace="fragments/Adressenverwaltung/mitarbeiter-bearbeiten.html"></div>
    </div>

    <div class="tab" id="tab-4">
        <div th:replace="fragments/Adressenverwaltung/arzt-bearbeiten.html"></div>
    </div>
</div>
<div class="direction-buttons">

    <button class="button direction-button" onclick="openLink('./')">
        <span class="material-symbols-outlined">home</span>
        Startseite
    </button>
    <button class="button direction-button" onclick="openLink('/organisation')">
        <span class="material-symbols-outlined">arrow_back</span>
        Zurück
    </button>
    <button
            class="button direction-button"
            id="addressButton"
            onclick="changeAddressButtonLink()">
        <span class="material-symbols-outlined">person_add</span>
        Hinzufügen
    </button>

</div>
</body>
<script>
    function set_tab(tab_id) {
        let tabs = document.getElementsByClassName('tab');
        let cache = document.getElementById('cache');

        for (let i = 0; i < tabs.length; i++) {
            let tab = tabs.item(i);

            tab.classList.remove('hidden');

            if (tab.id !== 'tab-' + tab_id)
                tab.classList.add('hidden')
        }

        cache.innerText = tab_id;
    }

    function changeAddressButtonLink() {
        const cache = document.getElementById('cache');

        if (cache.innerText === '1') {
            openLink('/mitarbeiter');
        } else {
            openLink('/arzt');
        }
    }

    function searchEmployee() {
        let name = document.getElementById('name').value;
        let lastname = document.getElementById('lastname').value;
        let tableContainer = 'employeeTable';

        switch (true) {
            case (lastname === '' && name === ''):
                lastname = '*';
                name = '*';
                break;
            case (lastname === '' && name !== ''):
                lastname = '*';
                break;
            case (lastname !== '' && name === ''):
                name = '*';
                break;
        }

        let key = `?name=${lastname}&vorname=${name}`;

        doGetRequest(
            '/api/mitarbeiters',
            key,
            (data) => {
                createTable(data, tableContainer, (data2) => {
                    set_tab(3);
                });
            });
    }

    set_tab(1);
</script>
</html>